<div class="product-card">
  <a [href]="product.link" target="_blank" class="product-link">
    <img [src]="product.image" [alt]="product.name" class="product-image">
    <p class="product-name">{{ product.name }}</p>
    <p class="product-desc">{{ product.description }}</p>
    <p>⭐ {{ product.rating }}</p>
  </a>
  
  <div class="buttons">
    <button (click)="share(product)" class="share-button">Поделиться</button>
    <button (click)="onLike()" class="like-button">
      {{ product.liked ? '❤️' : '🤍' }}
    </button>
  </div>
</div>
