<div class="top-bar">
  <img src="https://kaspi.kz/img/logo.svg" alt="Kaspi.kz" class="logo">
  <nav>
    <ul>
      <li><a href="#">Клиентам</a></li>
      <li><a href="#">Бизнесу</a></li>
      <li><a href="#">Kaspi Гид</a></li>
    </ul>
  </nav>
</div>

<div class="categories">
  <button 
    *ngFor="let category of categories" 
    (click)="filterProducts(category)" 
    [class.active]="selectedCategory === category">
    {{ category }}
  </button>
</div>

<app-product-list [selectedCategory]="selectedCategory"></app-product-list>
 